<div class="container">
<br>
<div class="row">
  <div class="col-8">
    <h2>Lista de Usuarios</h2>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Telefono</th>
          <th scope="col">Email</th>
          <th scope="col">Dirección</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <th> {{ usuario.nombre }}</th>
          <th> {{ usuario.apellido }}</th>
          <th> {{ usuario.telefono }}</th>
          <th> {{ usuario.email }}</th>
          <th> {{ usuario.direccion }}</th>
          <th class="btn btn-warning" [routerLink]="['update', usuario.usuario_id]"
          routerLinkActive="router-link-active"  (click)= "editando(usuario)"> Editar</th>
          <th class="btn btn-danger" (click)= "eliminar(usuario)"> Eliminar</th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input [(ngModel)]="usuario.nombre" type="text" name="nombre" class="form-control" id="nombre" aria-describedby="nombre">
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input [(ngModel)]="usuario.apellido" type="text" name="apellido" class="form-control" id="apellido" aria-describedby="apellido">
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Telefono</label>
        <input [(ngModel)]="usuario.telefono" type="text" name="telefono" class="form-control" id="telefono" aria-describedby="telefono">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input [(ngModel)]="usuario.email" type="email" name="email" class="form-control" id="email" aria-describedby="email">
      </div>
      <div class="mb-3">
        <label for="direccion" class="form-label">Direccion</label>
        <input [(ngModel)]="usuario.direccion" type="text" name="direccion" class="form-control" id="direccion">
      </div>
      <button *ngIf="!edita" (click)="registro()" class="btn btn-primary">Registrar</button>
      <button *ngIf="edita" (click)="editar()" class="btn btn-primary">Actualizar</button>
      <button *ngIf="edita" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>
</div>
